<div class="coach-insights">
  <div class="main d-flex">
    <div class="text-section">
      <h2>Coach Insights</h2>
    </div>
    <div class="search-sec d-flex">
      <div class="filter-sec">
        <span><i class="fa-solid fa-filter"></i> Filter</span>
      </div>
      <div class="sort-sec">
        <span><i class="fa-solid fa-sort"></i> Sort By</span>
      </div>
      <div class="search-input d-flex">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>
  </div>

  <div class="inner d-flex">
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
  </div>

  <div class="inner d-flex">
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
    <div class="sub-inner">
      <div class="insight-main">
        <img
          src="assets/images/12.png"
          class="img-fluid"
          alt="Presenting advance excel"
        />
        <div class="desc-sec">
          <h4>Master Advanced Excel skills in a few hours</h4>
          <span>77 . 22 comments</span>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- <div class="d-flex pop-wrapper justify-content-center" *ngIf="showRating">
  <div class="popover-main">
    <div class="inner d-flex">
      <a href="#" class="sub-inner agree-hundred" (click)="hundred()"></a>
      <a href="#" class="sub-inner thumbs-up"></a>
      <a href="#" class="sub-inner makes-sense"></a>
    </div>
    <div class="popover-label">Acknowledge</div>
  </div>
  
  <div class="popover-main">
    <div class="inner d-flex">
      <a href="#" class="sub-inner considered"></a>
      <a href="#" class="sub-inner fence"></a>
      <a href="#" class="sub-inner see-it"></a>
    </div>
    <div class="popover-label">Encourage</div>
  </div>

  <div class="cross-icon">
    <i class="fa-solid fa-xmark"></i>
  </div>
</div>

<div class="rating-comment" *ngIf="!showRating">
  <a href="#">
    <i class="fa-solid fa-chevron-left"></i>
  </a>
  <a href="#" class="sub-inner reactions fence"></a>
  <input type="" placeholder="Add a comment">
  <button type="submit" class="cmnBtn post-btn">Post</button>
</div> -->
