<div class="coaches-section">
  <div class="coaches-section::before"></div>

  <div class="coaches-title">Coaches</div>

  <div class="coaches-card-section">
    <div class="coach-carousel-btn btn-left">
      <i class="fa-sharp fa-solid fa-chevron-left coaches-icn"></i>
    </div>
    <div class="coaches-card">
      <div class="coaches-img">
        <img src="assets/images/4.png" alt="" class="coaches-img-box" />
      </div>
      <div class="coach-details">
        <div class="coach-name">Lauren Lemunyan Pcc</div>
        <div class="coach-team">Lorem Ipsum</div>
        <div class="coach-bio">View Bio</div>
      </div>
    </div>
    <div class="coaches-card">
      <div class="coaches-img">
        <img src="assets/images/4.png" alt="image" class="coaches-img-box" />
      </div>
      <div class="coach-details">
        <div class="coach-name">John Doe</div>
        <div class="coach-team">Lorem Ipsum</div>
        <div class="coach-bio">View Bio</div>
      </div>
    </div>
    <div class="coaches-card">
      <div class="coaches-img">
        <img src="assets/images/4.png" alt="" class="coaches-img-box" />
      </div>
      <div class="coach-details">
        <div class="coach-name">Evie Walker</div>
        <div class="coach-team">Lorem Ipsum</div>
        <div class="coach-bio">View Bio</div>
      </div>
    </div>
    <div class="coaches-card">
      <div class="coaches-img">
        <img src="assets/images/4.png" alt="" class="coaches-img-box" />
      </div>
      <div class="coach-details">
        <div class="coach-name">Jordy Gérard</div>
        <div class="coach-team">Lorem Ipsum</div>
        <div class="coach-bio">View Bio</div>
      </div>
    </div>
    <div class="coaches-card">
      <div class="coaches-img">
        <img src="assets/images/1.png" alt="" class="coaches-img-box" />
      </div>
      <div class="coach-details">
        <div class="coach-name">Scott Evans</div>
        <div class="coach-team">Lorem Ipsum</div>
        <div class="coach-bio">View Bio</div>
      </div>
    </div>
    <div class="coach-carousel-btn btn-right">
      <i class="fa-sharp fa-solid fa-chevron-right coaches-icn"></i>
    </div>
  </div>
</div>