<div class="footer-sec">
  <div class="footer-main">
    <div class="footer-logo">
      <img
        src="https://www.trainup.com/UI/Images/Home/trainup-logo.svg"
        class="img-fluid"
        (click)="redirectBack()"
        style="cursor: pointer"
      />
    </div>
    <div class="footer-comp">
      <div class="footer-powered">
        <div class="footer-text">Powered by</div>
        <div class="footer-brand-logo">
          <img src="assets/images/Trainingflo.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-content">
    <span>Copyright © 2022 TrainingFlo, Inc. All rights reserved.</span>
  </div>
</div>
