.respondOne {
  background-color: green;
}

.wrapper {
  position: relative;
  .left {
    background: #fff;
    box-shadow: 2px 1px 5px #d9dfe8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
  }
  .right {
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    background: #f5f5f5;
    .mt-45 {
      margin-top: 45px;
    }
  }
}

.right-left-menu {
  width: 83%;
}
.left-left-menu {
  width: 17%;
}
.right-menu {
  width: 100%;
}
.left-menu {
  width: 0%;
}

@media (max-width: 767px) {
  .wrapper {
    .left {
      top: 109px;
    }
    .right {
      .mt-45 {
        margin-top: 25px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .left-left-menu {
    width: 22%;
  }
  .right-left-menu {
    width: 78%;
  }
}
