@import "./base.css";
@import "./index.css";

.hms-ui-c-dhzjXW-ihoBXQb-css {
  overflow-y: inherit !important;
}

.hms-ui-c-PJLV-ihWtKLf-css {
  height: 100vh !important;
}

.hms-ui-c-gcSVIQ {
  max-height: 100px !important;
  width: 100px !important;
}
.hms-ui-c-PJLV-ihWtKLf-css {

  width: 70% !important;

  margin: auto;

}
